<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Barlow&family=EB+Garamond:ital@1&family=Epilogue:wght@300&family=Fredoka&family=Heebo&family=Inter&family=Kanit:wght@300&family=Lato&family=Lobster&family=Maven+Pro&family=Montserrat&family=Noto+Sans&family=PT+Sans&family=Poppins&family=Questrial&family=Quicksand:wght@500&family=Raleway&family=Roboto&family=Roboto+Condensed:wght@300&family=Spline+Sans:wght@300&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Web Service Project</title>
</head>
