<div class="container">
  <a href="/index.html">Home</a>
  <h1>Sign Up</h1>
  <form action="/signup" method="POST">
    <div class="sign_up-group">
      <label for="username">User Name</label>
      <input type="text" name="username" />
    </div>
    <div class="sign_up-group">
      <label for="firstname">Email</label>
      <input type="email" name="email" />
    </div>
    <div class="sign_up-group">
      <label for="password">Password</label>
      <input type="password" name="password" />
    </div>
    <button type="submit">Sign Up</button>
  </form>
</div>
