<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header.ejs') -%>
  <body>
    <%- include('layouts/navbar.ejs') -%>
    <div class="btn">
      <a href="login.ejs">Log In</a>
      <a href="signup.ejs">Sign Up</a>
    </div>
  </body>
</html>
