<%- include('layouts/header.ejs') -%> <%- include('layouts/navbar.ejs') -%>
<h1>Loads Page</h1>
<ul>
  <li>object 1</li>
  <li>object 2</li>
  <li>object 3</li>
</ul>

<%- include('layouts/footer.ejs') -%>
