body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    
}
.container {
    width: min(80%, 110rem);
    margin-inline: auto;
}
nav {
    padding: 1rem 0;
    background: rgb(60, 102, 182);
}
.title {
    color: white;
}
.btn-div {
    margin-top: 3rem;
}
.btn {
    padding: .5rem;
    border-radius: 5px;
    background: rgb(60, 102, 182);
    text-decoration: none;
   color: #fff;
}
